<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lengzq.mapper.SmsMapper">
  <resultMap id="BaseResultMap" type="com.lengzq.model.Sms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sm_type" jdbcType="INTEGER" property="smType" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, sm_type, sms, release_time, expire_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lengzq.model.Sms">
    insert into sms (id, phone, sm_type, 
      sms, release_time, expire_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{smType,jdbcType=INTEGER}, 
      #{sms,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{expireTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lengzq.model.Sms">
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="smType != null">
        sm_type,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lengzq.model.Sms">
    update sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        sm_type = #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lengzq.model.Sms">
    update sms
    set phone = #{phone,jdbcType=VARCHAR},
      sm_type = #{smType,jdbcType=INTEGER},
      sms = #{sms,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.lengzq.model.Sms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sm_type" jdbcType="INTEGER" property="smType" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, sm_type, sms, release_time, expire_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lengzq.model.Sms">
    insert into sms (id, phone, sm_type, 
      sms, release_time, expire_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{smType,jdbcType=INTEGER}, 
      #{sms,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{expireTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lengzq.model.Sms">
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="smType != null">
        sm_type,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lengzq.model.Sms">
    update sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        sm_type = #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lengzq.model.Sms">
    update sms
    set phone = #{phone,jdbcType=VARCHAR},
      sm_type = #{smType,jdbcType=INTEGER},
      sms = #{sms,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.lengzq.model.Sms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sm_type" jdbcType="INTEGER" property="smType" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, sm_type, sms, release_time, expire_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lengzq.model.Sms">
    insert into sms (id, phone, sm_type, 
      sms, release_time, expire_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{smType,jdbcType=INTEGER}, 
      #{sms,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{expireTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lengzq.model.Sms">
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="smType != null">
        sm_type,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lengzq.model.Sms">
    update sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        sm_type = #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lengzq.model.Sms">
    update sms
    set phone = #{phone,jdbcType=VARCHAR},
      sm_type = #{smType,jdbcType=INTEGER},
      sms = #{sms,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.lengzq.model.Sms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sm_type" jdbcType="INTEGER" property="smType" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, sm_type, sms, release_time, expire_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lengzq.model.Sms">
    insert into sms (id, phone, sm_type, 
      sms, release_time, expire_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{smType,jdbcType=INTEGER}, 
      #{sms,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{expireTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lengzq.model.Sms">
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="smType != null">
        sm_type,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lengzq.model.Sms">
    update sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        sm_type = #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lengzq.model.Sms">
    update sms
    set phone = #{phone,jdbcType=VARCHAR},
      sm_type = #{smType,jdbcType=INTEGER},
      sms = #{sms,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.lengzq.model.Sms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sm_type" jdbcType="INTEGER" property="smType" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, sm_type, sms, release_time, expire_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lengzq.model.Sms">
    insert into sms (id, phone, sm_type, 
      sms, release_time, expire_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{smType,jdbcType=INTEGER}, 
      #{sms,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{expireTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lengzq.model.Sms">
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="smType != null">
        sm_type,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lengzq.model.Sms">
    update sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="smType != null">
        sm_type = #{smType,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lengzq.model.Sms">
    update sms
    set phone = #{phone,jdbcType=VARCHAR},
      sm_type = #{smType,jdbcType=INTEGER},
      sms = #{sms,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>